<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">


        <form name="loginform" role="form">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="">


            <h3><strong>CrashTrade.com</strong></h3>

            <div ng-show="errorMessage">
                <div class="error-message">
                    {{errorMessage}}
                </div>
            </div>


            <div id="emailLogin">
                <h5><strong>Вход</strong></h5>

                <div class="form-group">
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email"
                           required data-ng-model="userLogin.Email">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" required
                           class="form-control" data-ng-model="userLogin.Password"/>
                </div>

                <button data-ng-click="login(userLogin)" data-ng-disabled="loginform.$invalid" class="btn btn-default">
                    Войти
                </button>
                <label>
                    <input checked="checked" id="remember_me" name="remember_me" type="checkbox" value="remember_me">
                    Запомнить меня
                </label>
                <a href="#/Register">Зарегистрироваться</a>

                <p><a href="">Забыли пароль?</a></p>
            </div>

        </form>


    </div>
    <div class="col-sm-4"></div>
</div>


<script type="text/ng-template" id="userRegistrationModal.html">
    <div id="{{id}}">
        <div class="modal-body">
            Ваш аккаунт подтвержден .
        </div>
        <div class="modal-footer">
            <div class="btn btn-default" ng-click="closeModal()">закрыть</div>
        </div>
    </div>
</script>
