<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">


        <form name="registrationform" method="post">

            <h3><strong>CrashTrade</strong></h3>

            <div ng-show="errorMessage">
                <div class="error-message">
                    {{errorMessage}}
                </div>
                <div class="ui divider"></div>
            </div>


            <div class="form-group">
                <input type="text" class="form-control" placeholder="Имя" required
                       data-ng-model="userRegistration.FirstName"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Фамилия" required
                       data-ng-model="userRegistration.LastName"/>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required
                       data-ng-model="userRegistration.Email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Пароль"
                       ng-minlength="6" required
                       data-ng-model="userRegistration.Password"/>
            </div>
            <div class="form-group">
                <span ng-show="registrationform.password.$dirty && registrationform.password.$error.minlength"
                      class="field-error">Пароль должен содержать не менее 6 символов</span>
                <input type="password" class="form-control" placeholder="Повторите пароль" required
                       data-ng-model="userRegistration.ConfirmPassword"/>
            </div>
            <button data-ng-disabled="registrationform.$invalid || isRegistrationInProcess"
                    data-ng-click="register(userRegistration)" class="btn btn-default">
                Зарегистрироваться
            </button>
            <a href="#/Login">Вход</a>
        </form>


    </div>
    <div class="col-sm-4"></div>
</div>


<script type="text/ng-template" id="userRegistrationModal.html">
    <div id="{{id}}">
        <div class="modal-body">
            Письмо с подтвержденем аккаунта выслано на почту.
        </div>
        <div class="modal-footer">
            <div class="btn btn-default" ng-click="closeModal()">закрыть</div>
        </div>
    </div>
</script>





