
<h5 class="ui header">Добавить объявление</h5>
<div class="ui divider"></div>
<form name="advertForm" role="form" class="ui secondary small form segment">
    <h5 class="ui header">Редактировать объявление</h5>
    <div class="ui divider"></div>

    <div class="field">
        <label for="title">Заголовок<span style="color:Red">*</span></label>
        <input type="text" id="title" placeholder="Name" required data-ng-model="advert.Title">
    </div>
    <div class="ui divider"></div>

    <div class="field">
        <label for="description">Описание<span style="color:Red">*</span></label>
        <input type="text" id="description" placeholder="Description" required data-ng-model="advert.Description">
    </div>
    <div class="ui divider"></div>

    <div class="field" style="margin-bottom:10px;">
        <label for="manufacture">
            Производитель<span style="color: Red">*</span>
        </label>
        <select ui-select2 ng-model="advert.ManufactureId" ng-required="true" data-placeholder="Производитель" id="manufacture" style="width:100%;">
            <option value="">--Выбрать--</option>
            <option ng-repeat="manufacture in manufactures" value="{{manufacture.Id}}">{{manufacture.Name}}</option>
        </select>
    </div>
    <div class="ui divider"></div>

    <div class="field" style="margin-bottom:10px;">
        <label for="carModel">
            Модель<span style="color: Red">*</span>
        </label>
        <select ui-select2 ng-model="advert.CarModelId" ng-required="true" data-placeholder="Модель" id="carModel" style="width:100%;">
            <option value="">--Выбрать--</option>
            <option ng-repeat="carModel in carModels" value="{{carModel.Id}}">{{carModel.Name}}</option>
        </select>
    </div>
    <div class="ui divider"></div>

    <div class="field">
        <label for="Year">Год выпуска<span style="color:Red">*</span></label>
        <input type="number" id="Year" min="1900" max="2020" placeholder="Year" required data-ng-model="advert.Year">
    </div>
    <div class="ui divider"></div>

    <div class="field" style="margin-bottom:10px;">
        <label for="FuelType">
            Тип топлива<span style="color: Red">*</span>
        </label>
        <select ui-select2 ng-model="advert.FuelType" ng-required="true" data-placeholder="Тип топлива" id="FuelType" style="width:100%;">
            <option value="">--Выбрать--</option>
            <option value="1">Petrol</option>
            <option value="2">Diesel</option>
        </select>
    </div>
    <div class="ui divider"></div>

    <div class="inline field">
        <button data-ng-disabled="advertForm.$invalid" data-ng-click="editAdvert(advert)" class="ui blue mini button">
            Подтвердить
        </button>
        <a class="ui black mini button" href="#/Adverts/{{advertType}}">Отменить</a>

    </div>
</form>