<div class="field">
    <label for="title">Заголовок<span style="color:Red">*</span></label>
    <input type="text" id="title" placeholder="Name" required data-ng-model="advert.Title">
</div>
<hr>

<div class="field" style="margin-bottom:10px;">
    <label for="FuelType">
        Тип объявления<span style="color: Red">*</span>
    </label>


    <ui-select ng-model="advert.AdvertType" ng-required="true" theme="selectize" style="width:100%;">
        <ui-select-match placeholder="Select type of advert...">{{$select.selected.Name}}</ui-select-match>
        <ui-select-choices repeat="advertType.Id as advertType in advertTypes | filter: $select.search">
            <span ng-bind-html="advertType.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div class="field">
    <label for="description">Описание<span style="color:Red">*</span></label>
    <textarea id="description" placeholder="Description" required data-ng-model="advert.Description"/>
</div>
<hr>

<div class="field" style="margin-bottom:10px;">
    <label for="manufacture">
        Производитель<span style="color: Red">*</span>
    </label>

    <ui-select ng-model="advert.ManufactureId" ng-required="true" theme="selectize" style="width:100%;"
               id="manufacture">
        <ui-select-match placeholder="Select or search a manufacture in the list...">{{$select.selected.Name}}
        </ui-select-match>
        <ui-select-choices repeat="manufacture.Id as manufacture in manufactures | filter: $select.search">
            <span ng-bind-html="manufacture.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>


</div>
<hr>

<div class="field" style="margin-bottom:10px;">
    <label for="carModel">
        Модель<span style="color: Red">*</span>
    </label>

    <ui-select ng-model="advert.CarModelId" theme="selectize" ng-required="true" style="width:100%;" id="carModel">
        <ui-select-match placeholder="Select or search a carModel in the list...">{{$select.selected.Name}}
        </ui-select-match>
        <ui-select-choices repeat="carModel.Id as carModel in carModels | filter: $select.search">
            <span ng-bind-html="carModel.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>
<hr>

<div class="field">
    <label for="Year">Год выпуска<span style="color:Red">*</span></label>
    <input type="number" id="Year" min="1900" max="2020" placeholder="Year" required data-ng-model="advert.Year">
</div>
<hr>

<div class="field" style="margin-bottom:10px;">
    <label for="FuelType">
        Тип топлива<span style="color: Red">*</span>
    </label>

    <ui-select ng-model="advert.FuelType" theme="selectize" ng-required="true" style="width:100%;" id="FuelType">
        <ui-select-match placeholder="Select or search a carModel in the list...">{{$select.selected.Name}}
        </ui-select-match>
        <ui-select-choices repeat="fuelType.Id as fuelType in fuelTypes | filter: $select.search">
            <span ng-bind-html="fuelType.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>