<span>Производитель:</span>
<ui-select ng-model="car.manufactureId" id="manufacture">
    <ui-select-match allow-clear="true" placeholder="Выберите марку">{{$select.selected.Name}}
    </ui-select-match>
    <ui-select-choices repeat="manufacture.Id as manufacture in manufactures | filter: $select.search">
        <span ng-bind-html="manufacture.Name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>
<div></div>

<span>Модель:</span>
<ui-select ng-model="car.carModelId" id="carModel">
    <ui-select-match allow-clear="true" placeholder="Выберите модель">{{$select.selected.Name}}
    </ui-select-match>
    <ui-select-choices repeat="carModel.Id as carModel in carModels | filter: $select.search">
        <span ng-bind-html="carModel.Name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<div ng-show="::advertType == 'Sale'"><span>Коробка передач:</span>
<ui-select ng-model="car.transmissionType" id="TransmissionType">
    <ui-select-match allow-clear="true" placeholder="Коробка передач">{{$select.selected.Name}}
    </ui-select-match>
    <ui-select-choices repeat="transmissionType.Id as transmissionType in CrashTradeSettings.transmissionTypes | filter: $select.search">
        <span ng-bind-html="transmissionType.Name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<span>Тип топлива:</span>
<ui-select ng-model="car.fuelType" id="FuelType">
    <ui-select-match allow-clear="true" placeholder="Выберите тип">{{$select.selected.Name}}
    </ui-select-match>
    <ui-select-choices repeat="fuelType.Id as fuelType in CrashTradeSettings.fuelTypes | filter: $select.search">
        <span ng-bind-html="fuelType.Name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select></div>

<div class="form-group">
    <span>Год:</span>
    <ui-select ng-model="car.yearFrom" id="yearFrom">
        <ui-select-match allow-clear="true" placeholder="От">{{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="year in CrashTradeSettings.years | filter: $select.search">
            <span ng-bind-html="year | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div class="form-group">
    <ui-select ng-model="car.yearTo" id="yearTo">
        <ui-select-match allow-clear="true" placeholder="До">{{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="year in CrashTradeSettings.years | filter: $select.search">
            <span ng-bind-html="year | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div ng-show="advertType == 'Sale'">
    <div class="form-group">
        <span>Цена:</span>
        <input ng-model="car.priceFrom" placeholder="От" type="number" class="form-control">
    </div>

    <div class="form-group">
        <input ng-model="car.priceTo" placeholder="До" type="number" class="form-control">
    </div>
</div>
