 <span>Производитель:</span>
    <ui-select ng-model="car.manufactureId" id="manufacture">
        <ui-select-match placeholder="Выберите марку">{{$select.selected.Name}}
        </ui-select-match>
        <ui-select-choices repeat="manufacture.Id as manufacture in manufactures | filter: $select.search">
            <span ng-bind-html="manufacture.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
    <div></div>

    <span>Модель:</span>
    <ui-select ng-model="car.carModelId" id="carModel">
        <ui-select-match placeholder="Выберите модель">{{$select.selected.Name}}
        </ui-select-match>
        <ui-select-choices repeat="carModel.Id as carModel in carModels | filter: $select.search">
            <span ng-bind-html="carModel.Name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>

<div class="form-group">
    <span>Год:</span>
    <input ng-model="yearFrom" placeholder="От" type="text" class="form-control">
</div>

<div class="form-group">
    <input ng-model="yearTo" placeholder="До" type="text" class="form-control">
</div>

<div class="form-group">
    <span>Цена:</span>
    <input ng-model="priceFrom" placeholder="От" type="text" class="form-control">
</div>

<div class="form-group">
    <input ng-model="priceTo" placeholder="До" type="text" class="form-control">
    </div>

