<div>
    <div class="row site-listing home" ng-repeat="advert in adverts">
        <div class="eight columns">
            <a href="">
                <ul class="site-display">
                    <li ng-if="advert.ImageInfos.length == 0">Нет изображения</li>
                    <li ng-if="advert.ImageInfos.length > 0" class="desktop-screenshot"><img alt="" class="site" src="{{advert.ImageInfos[0].FullName}}"></li>
                    <!--<li class="mobile-screenshot"><img alt="" class="site" src="../images/index/6d.jpg"></li>-->
                </ul>
            </a></div>
        <div class="four mobile-four columns end" style="margin-bottom:25px;">
            <div class="first-section">
                <h3 class="regular foundation-build"><a href="#/Adverts/{{advert.Id}}">{{advert.Title}} </a></h3>
                <hr>
                <p class="text-new-line">{{advert.Description}}</p>
            </div>
            <div class="second-section">
                <hr>
                <br/>
                <a ng-show="isAuthenticated && advertType == 'My'" href="#/Adverts/Edit/{{advert.Id}}">Редактировать</a>

                <i ng-show="isAuthenticated && advertType == 'My'" class="trash icon" style="float: right;" title="Удалить"
                   message="Вы хотите удалить данный элемент?"
                   modal-id="{{advert.Id}}" on-approve="deleteAdvert(advert.Id);"
                   on-deny="closeModal();" cst-confirm-modal></i>

            </div>
        </div>
        <hr class="solid">
    </div>
</div>

<!--ui-select2-->
<div>
    <select ng-model="pageSize" convert-to-number data-placeholder="Объявлений на странице"
            style="float: right; width: 60px; margin-right: 10%; margin-bottom: 0">
        <option value="1">1</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

    <div style="clear: both"></div>

    <pagination boundary-links="true" items-per-page="pageSize" on-select-page="pageChangeHandler(page)"
                total-items="count"
                page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></pagination>
</div>