<div class="row">
    <div class="col-sm-3 col-lg-2" ng-class="{ 'mobileHide': !showSettingsOnMobile }">
        <div>
            <adverts-sort-options-directive without-price="::advertType != 'Sale'" sort-options="sortOptions"></adverts-sort-options-directive>
        </div>
        <div>
            <div>
                <adverts-filter-options get-filter-options="getFilterOptions" should-be-filtered="shouldBeFiltered" advert-type="advertType">
                </adverts-filter-options>

                <a class="btn btn-default" ng-click="filter()">Ок</a>
                <a class="btn btn-default" ng-click="clearFilter()">Сброс</a>
            </div>
        </div>
        <div style="min-height: 10px"></div>
    </div>

    <div class="col-sm-9 col-lg-10" ng-class="{ 'mobileHide': showSettingsOnMobile }">

        <div class="row advert" ng-repeat="advert in adverts">
            <div ng-show="advert.Id">
                <div class="col-sm-6">
                    <h5 ng-if="advert.ImageInfos.length == 0"><i class="glyphicon glyphicon-picture"></i> Нет изображения</h5>

                    <div style="max-width: 250px; max-height: 250px">
                        <a ng-if="advert.ImageInfos.length > 0" href="#/Adverts/{{advert.Id}}">
                            <img class="img-responsive img-rounded shadow advertImgInList" alt="" ng-src="{{advert.ImageInfos[0].FullName}}">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h3><a href="#/Adverts/{{advert.Id}}">{{advert.ManufactureName}} {{advert.CarModelName}}</a>
                        </h3>
                        <div>{{::advert.SweptVolume}} {{::advert.FuelType | fuelTypeName}}
                            {{::advert.TransmissionType | transmissionTypeName}} {{::advert.Year}}г.в.
                        </div>
                        <br/>

                        <div>{{advert.Description | words:20}}</div>
                        <div ng-show="advertType == 'Sale'">
                            <br/>

                            <div>Цена: {{advert.Price}}</div>
                        </div>
                    </div>
                    <div ng-show="userData.isAdmin">
                        <br/>
                        <a href="#/Adverts/Edit/{{advert.Id}}"><i class="glyphicon glyphicon-pencil"></i> Редактировать</a>
                        <i style="float: right;" title="Удалawdить"
                           message="Вы хотите удалить данный элемент?" modal-id="{{advert.Id}}"
                           on-approve="deleteAdvert(advert.Id);" cst-confirm-modal></i>

                    </div>
                </div>
            </div>
            <div ng-hide="advert.Id">
                <div class="col-sm-1"></div>
                <h4>{{advert.ManufactureName}}</h4>
            </div>
            <hr class="col-sm-12">
        </div>

        <div ng-if="adverts.length > 0" class="row advert">
            <div class="col-sm-6">

                <uib-pagination boundary-links="true" total-items="count" items-per-page="pageSize"
                                ng-model="$parent.currentPage"
                                class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
            </div>

            <div class="col-sm-3">
                <label>Объявлений на странице:</label>
                <select convert-to-number class="form-control" ng-model="$parent.pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="col-sm-3"></div>
        </div>
    </div>

    <div class="mobileOnly mobileBottomButton">
        <button ng-click="showSettingsOnMobile = !showSettingsOnMobile; scrollTop()" class="mui-btn mui-btn--fab mui-btn--primary"><span ng-class="{ 'glyphicon glyphicon-chevron-left': showSettingsOnMobile , 'glyphicon glyphicon-wrench': !showSettingsOnMobile }" aria-hidden="true"></span></button>
    </div>
</div>



