<div class="row" ng-init="filterOptions = 'true'">
    <div class="col-sm-2">
        <div class="thumbnail">
            <adverts-sort-options-directive without-price="true"
                                            sort-options="sortOptions"></adverts-sort-options-directive>
        </div>
    </div>

    <div class="col-sm-10">

        <div class="row" ng-repeat="advert in adverts">
            <div ng-show="advert.Id">
                <div class="col-sm-6">
                    <h5 ng-if="advert.ImageInfos.length == 0"><i class="glyphicon glyphicon-picture"></i> Нет изображения</h5>

                    <div style="max-width: 250px; max-height: 250px">
                        <a ng-if="advert.ImageInfos.length > 0" href="#/{{advert.IsSparePart == true ? 'SparePartAdverts' : 'Adverts'}}/{{advert.Id}}">
                            <img class="img-responsive img-rounded shadow" alt="" ng-src="{{advert.ImageInfos[0].FullName}}">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h3><a href="#/{{advert.IsSparePart == true ? 'SparePartAdverts' : 'Adverts'}}/{{advert.Id}}">{{advert.ManufactureName}}
                            {{advert.CarModelName}}</a>
                        </h3>

                        <div>{{::advert.Year}}г.в.
                        </div>
                        <br/>

                        <div>{{advert.Description | words:20}}</div>
                    </div>
                    <div>
                        <br/>
                        <a href="#/{{advert.IsSparePart == true ? 'SparePartAdverts' : 'Adverts'}}/Edit/{{advert.Id}}"><i class="glyphicon glyphicon-pencil"></i> Редактировать</a>
                        <i style="float: right;" title="Удалить"
                           message="Вы хотите удалить данный элемент?" modal-id="{{advert.Id}}"
                           on-approve="deleteAdvert(advert.Id);" cst-confirm-modal>Удалить</i>

                    </div>
                </div>
            </div>

            <hr class="col-sm-12">
        </div>

        <div class="row">
            <div class="col-sm-6">

                <uib-pagination boundary-links="true" total-items="count" items-per-page="pageSize"
                                ng-model="currentPage"
                                class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
            </div>

            <div class="col-sm-3">
                <label>Объявлений на странице:</label>
                <select convert-to-number class="form-control" ng-model="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="col-sm-3"></div>
        </div>
    </div>

</div>



