ResourceMetadata.Web/obj/
ResourceMetadata.Service/obj/Debug/
ResourceMetadata.API/bin/System.Web.Http.Owin.xml
ResourceMetadata.API/bin/
ResourceMetadata.Service/bin/Debug/
ResourceMetadata.Data/obj/Debug/ResourceMetadata.Data.csproj.FileListAbsolute.txt
ResourceMetadata.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ResourceMetadata.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ResourceMetadata.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ResourceMetadata.Model/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
ResourceMetadata.Model/obj/Debug/ResourceMetadata.Models.csproj.FileListAbsolute.txt
ResourceMetadata.API/obj/Debug/ResourceMetadata.API.csproj.FileListAbsolute.txt
ResourceMetadata.API/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ResourceMetadata.API/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ResourceMetadata.API/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ResourceMetadata.Data/bin/Debug/EntityFramework.SqlServer.xml
ResourceMetadata.Data/bin/Debug/EntityFramework.xml
ResourceMetadata.Data/bin/Debug/Microsoft.AspNet.Identity.Core.xml
ResourceMetadata.Data/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
ResourceMetadata.Data/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
ResourceMetadata.Data/bin/Debug/Microsoft.Owin.Security.xml
ResourceMetadata.Data/bin/Debug/ResourceMetadata.Data.dll.config
ResourceMetadata.Data/obj/Debug/ResourceMetadata.Data.Migrations.test.resources
ResourceMetadata.Model/bin/Debug/Microsoft.AspNet.Identity.Core.xml
ResourceMetadata.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ResourceMetadata.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ResourceMetadata.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.idea
obj
bin
node_modules
/ResourceMetadata.v12.suo
