USE [CrashT]
GO
/****** Object:  User [qqqqq13_mail]    Script Date: 09/15/2015 10:18:05 ******/
CREATE USER [qqqqq13_mail] FOR LOGIN [qqqqq13_mail] WITH DEFAULT_SCHEMA=[qqqqq13_mail]
GO
/****** Object:  Schema [qqqqq13_mail]    Script Date: 09/15/2015 10:18:05 ******/
CREATE SCHEMA [qqqqq13_mail] AUTHORIZATION [qqqqq13_mail]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Manufactures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufactures] ON
INSERT [dbo].[Manufactures] ([Id], [Name], [Description]) VALUES (1, N'Audi', N'Audi')
INSERT [dbo].[Manufactures] ([Id], [Name], [Description]) VALUES (2, N'Bmw', N'Bmw')
INSERT [dbo].[Manufactures] ([Id], [Name], [Description]) VALUES (3, N'Alfa Romeo', N'Alfa Romeo')
SET IDENTITY_INSERT [dbo].[Manufactures] OFF
/****** Object:  Table [dbo].[IdentityRoles]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IdentityRoles] ([Id], [Name]) VALUES (N'de612d49-4572-4810-84b8-fabf12c0bab8', N'Member')
INSERT [dbo].[IdentityRoles] ([Id], [Name]) VALUES (N'f8fe112b-38d1-4a00-b53f-c8f05fc62574', N'Admin')
/****** Object:  Table [dbo].[IdentityUsers]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IdentityUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [FirstName], [LastName], [Email], [Discriminator]) VALUES (N'a52acce9-c73d-4a71-b941-0b6f8d294a48', N'admin1@admin.com', N'AKOHgSNBENBKvQqLn7GWpe1F7oPE6CFi+zdkkVUDV807i0np8qW3euu2a6dKUfBSiQ==', N'b832cdfc-f111-4494-94b1-e912f8f84d57', N'Admin', N'Admin', N'admin@admin.com', N'ApplicationUser')
INSERT [dbo].[IdentityUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [FirstName], [LastName], [Email], [Discriminator]) VALUES (N'28cb9120-0a6a-4e10-8219-fae7efa2eb37', N'qqqqq13@mail.ru', N'AEOthrGgDAR/8PNusaS8qqp6c8qPj9jiz/7n6oiMkqlxc23HbFzNB2xl/NL0wgc8zA==', N'f7691c4b-95e2-446c-b45f-392eb9930e4a', N'Борисевич', N'Олег', N'qqqqq13@mail.ru', N'ApplicationUser')

/****** Object:  Table [dbo].[IdentityUserRoles]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IdentityUserRoles] ([RoleId], [UserId]) VALUES (N'f8fe112b-38d1-4a00-b53f-c8f05fc62574', N'a52acce9-c73d-4a71-b941-0b6f8d294a48')
INSERT [dbo].[IdentityUserRoles] ([RoleId], [UserId]) VALUES (N'f8fe112b-38d1-4a00-b53f-c8f05fc62574', N'28cb9120-0a6a-4e10-8219-fae7efa2eb37')


/****** Object:  Table [dbo].[IdentityUserLogins]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdentityUserClaims]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.IdentityUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModels]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ManufactureId] [int] NULL,
 CONSTRAINT [PK_dbo.CarModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarModels] ON
INSERT [dbo].[CarModels] ([Id], [Name], [ManufactureId]) VALUES (1, N'A8', 1)
INSERT [dbo].[CarModels] ([Id], [Name], [ManufactureId]) VALUES (2, N'100', 1)
INSERT [dbo].[CarModels] ([Id], [Name], [ManufactureId]) VALUES (3, N'CL', 5)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CarModels] OFF
/****** Object:  Table [dbo].[Adverts]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ManufactureId] [int] NOT NULL,
	[CarModelId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[SweptVolume ] [int] NOT NULL,
	[Contacts] [nvarchar](max) NULL,
	[FuelType] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Price] [int] NULL,
	[SaleType] [bit] NOT NULL,
	[CoachworkRepairType] [bit] NOT NULL,
	[MechanicalRepairType] [bit] NOT NULL,

 CONSTRAINT [PK_dbo.Adverts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adverts] ON
/*INSERT [dbo].[Adverts] ([Id], [Description], [CreatedOn], [ManufactureId], [CarModelId], [Year], [FuelType], [UserId], [Title], [AdvertType]) VALUES (1, N'Йцу йцуйцву', CAST(0x0000A4FE0110A74F AS DateTime), 1, 2, 1999, 1, N'c832f1c8-99df-413d-9d6e-7b424fd11371', N'Audi 100', 1)
INSERT [dbo].[Adverts] ([Id], [Description], [CreatedOn], [ManufactureId], [CarModelId], [Year], [FuelType], [UserId], [Title], [AdvertType]) VALUES (3, N'тестовое объявление', CAST(0x0000A4FF009DBAC1 AS DateTime), 1, 1, 2010, 1, N'df71d7b2-7308-42ff-bd40-03624a35bf63', N'Test', 1)
INSERT [dbo].[Adverts] ([Id], [Description], [CreatedOn], [ManufactureId], [CarModelId], [Year], [FuelType], [UserId], [Title], [AdvertType]) VALUES (6, N'трещина на заднем бампере,', CAST(0x0000A50600F361AC AS DateTime), 1, 38, 2017, 1, N'b1b54bca-e70c-4469-aac2-af8e961f3567', N'Oleg', 2)*/
SET IDENTITY_INSERT [dbo].[Adverts] OFF
/****** Object:  Table [dbo].[ImageInfoes]    Script Date: 09/15/2015 10:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[AdvertId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ImageInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ImageInfoes] ON
/*
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (1, N'fc623736-66e8-4bc3-9fa5-660fb0c92f3d.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (2, N'b5cebbe9-a288-42c1-9c5a-c84565b6b26b.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (3, N'cf9123f2-f776-44b0-9bf1-af0109fe3ad8.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (4, N'78c4133d-b4cd-42a8-acc7-2b0740789f4d.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (5, N'7a62dc2a-4c28-46b7-a35a-f745e5b83008.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (6, N'7f8cbb2a-4461-4d1f-83a4-8b638509747f.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (7, N'1f368d81-5458-4c6a-b05c-9f5ac4e61625.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (8, N'23c235bf-4a79-4ead-9388-6cd40899ea91.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (9, N'633b1f1a-b3d3-4eb2-ba70-0f327da031e1.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (10, N'f813a0d9-1b6d-4de6-b011-e046312e82af.jpg', 6)
INSERT [dbo].[ImageInfoes] ([Id], [FullName], [AdvertId]) VALUES (11, N'e976c5a2-319f-4b90-a9d7-2b7f91ca2474.jpg', 6)
*/
SET IDENTITY_INSERT [dbo].[ImageInfoes] OFF
/****** Object:  Default [DF__Adverts__AdvertT__1ED998B2]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[Adverts] ADD  DEFAULT ((1)) FOR [AdvertType]
GO
/****** Object:  ForeignKey [FK_dbo.Adverts_dbo.CarModels_CarModelId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.CarModels_CarModelId] FOREIGN KEY([CarModelId])
REFERENCES [dbo].[CarModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.CarModels_CarModelId]
GO
/****** Object:  ForeignKey [FK_dbo.Adverts_dbo.IdentityUsers_UserId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.IdentityUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Adverts_dbo.Manufactures_ManufactureId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.Manufactures_ManufactureId] FOREIGN KEY([ManufactureId])
REFERENCES [dbo].[Manufactures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.Manufactures_ManufactureId]
GO
/****** Object:  ForeignKey [FK_dbo.CarModels_dbo.Manufactures_ManufactureId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[CarModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CarModels_dbo.Manufactures_ManufactureId] FOREIGN KEY([ManufactureId])
REFERENCES [dbo].[Manufactures] ([Id])
GO
ALTER TABLE [dbo].[CarModels] CHECK CONSTRAINT [FK_dbo.CarModels_dbo.Manufactures_ManufactureId]
GO
/****** Object:  ForeignKey [FK_dbo.IdentityUserClaims_dbo.IdentityUsers_User_Id]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[IdentityUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.IdentityUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[IdentityUsers] ([Id])
GO
ALTER TABLE [dbo].[IdentityUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.IdentityUsers_User_Id]
GO
/****** Object:  ForeignKey [FK_dbo.IdentityUserLogins_dbo.IdentityUsers_UserId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[IdentityUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.IdentityUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_RoleId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[IdentityRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.IdentityUserRoles_dbo.IdentityUsers_UserId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.ImageInfoes_dbo.Adverts_AdvertId]    Script Date: 09/15/2015 10:18:05 ******/
ALTER TABLE [dbo].[ImageInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageInfoes_dbo.Adverts_AdvertId] FOREIGN KEY([AdvertId])
REFERENCES [dbo].[Adverts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageInfoes] CHECK CONSTRAINT [FK_dbo.ImageInfoes_dbo.Adverts_AdvertId]
GO
