<div class="ui divider"></div>
<div>

    <div class="row site-listing home" ng-repeat="advert in adverts">
        <div class="eight columns">
            <a href="">
                <ul class="site-display">
                    <li class="desktop-screenshot"><img alt="" class="site" src="../images/index/5d.jpg"></li>
                    <li class="mobile-screenshot"><img alt="" class="site" src="../images/index/6d.jpg"></li>
                </ul>
            </a> </div>
        <div class="four mobile-four columns end" style="margin-bottom:25px;">
            <div class="first-section">
                <h3 class="regular foundation-build"><a href="#/Adverts/{{advertType}}/{{advert.Id}}">{{advert.Title}} </a></h3>
                <hr>
                <p class="text-new-line">{{advert.Description}}</p>
            </div>
            <div class="second-section">
                <hr>
                <a class="button" href="">
                    Фото »
                </a> </div>
        </div>
        <hr class="solid">
    </div>

    <div style="float: right;">
        <a ng-show="isAuthenticated" class="ui mini blue button" href="#/Adverts/{{advertType}}/Add">Добавить модель</a>
    </div>
</div>

<div>
    <select ng-model="pageSize" convert-to-number data-placeholder="Объявлений на странице"
            style="float: right; width: 60px; margin-right: 10%; margin-bottom: 0">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <div style="clear: both"></div>

    <pagination boundary-links="true" items-per-page="pageSize" on-select-page="pageChangeHandler(page)"
                total-items="count"
                page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></pagination>
</div>

