<script type="text/ng-template" id="myModalContent.html">
    <div id="{{id}}">
    <div class="header">
        {{title}}
    </div>
    <div class="content">
        {{message}}
    </div>
    <div class="actions">
        <div class="ui small negative button" ng-click="deny();closeModal();">
            Нет
        </div>
        <div class="ui small positive right labeled icon button" ng-click="approve();closeModal()">
            Да <i class="checkmark icon"></i>
        </div>
    </div>
</div>
</script>