
<h5 class="ui header">Добавить модель</h5>
<div class="ui divider"></div>
<form name="carModelForm" role="form" class="ui secondary small form segment">
    <h5 class="ui header">Добавить модель</h5>
    <div class="ui divider"></div>
    <div class="field">
        <label for="name">Название<span style="color:Red">*</span></label>
        <input type="text" id="name" placeholder="Name" required data-ng-model="carModel.Name">
    </div>
    <div class="ui divider"></div>
    <div class="inline field">
        <button data-ng-disabled=" carModelForm.$invalid" data-ng-click="addCarModel(carModel)" class="ui blue mini button">
            Подтвердить
        </button>
        <a class="ui black mini button" href="#/CarModels">Отменить</a>

    </div>
</form>
